*{
	box-sizing:border-box;
}
body{	
	font-family:"Microsoft Yahei","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self,Tahoma,Arial,Roboto,"Droid Sans";
	font-size:16px;
}
h1{
	color:white;
	font-size: 2rem;
	text-align: center;
	padding:2rem 0;
	background-color:#152935;
}
ul{
	color:white;
	width:50%;
	margin:0 auto;
	background:linear-gradient(#323232, #152935);
}
